In [256]:
from pathlib import Path
import pandas as pd
import os

In [257]:
# Get the current working directory (which should be the Notebooks folder)
current_directory = Path(os.getcwd())

# Define the project root directory by navigating up one level from the Notebooks folder
project_root = current_directory.parent

# Construct the path to the CSV file in the dataset folder
cutoff_file_path = project_root / 'dataset' / 'cutoff.csv'

In [258]:
df = pd.read_csv(cutoff_file_path)

In [259]:
df

,InstituteId,InstituteName,BranchCode,1G,1K,1R,2AG,2AK,2AR,2BG,...,3BR,GM,GMK,GMR,SCG,SCK,SCR,STG,STK,STR
0,E001,University of Visvesvaraya College of Engineer...,AI,10087.0,20801.0,NaN,9302.0,NaN,10041.0,12213.0,...,NaN,6935.0,7979.0,8653.0,26148.0,NaN,33645.0,24190.0,NaN,33807.0
1,E001,University of Visvesvaraya College of Engineer...,CE,126281.0,NaN,140951.0,99176.0,NaN,110030.0,95076.0,...,95251.0,74111.0,84671.0,86716.0,105351.0,132307.0,186680.0,109874.0,NaN,129504.0
2,E001,University of Visvesvaraya College of Engineer...,CS,5809.0,NaN,NaN,5835.0,7296.0,6519.0,7166.0,...,5708.0,4344.0,6701.0,5402.0,20990.0,28206.0,29187.0,15475.0,16438.0,20958.0
3,E001,University of Visvesvaraya College of Engineer...,EC,15177.0,NaN,18548.0,14878.0,15407.0,16522.0,21600.0,...,14664.0,9878.0,14864.0,11936.0,33658.0,46591.0,47113.0,37482.0,NaN,52570.0
4,E001,University of Visvesvaraya College of Engineer...,EE,41399.0,NaN,55688.0,37226.0,39400.0,43302.0,59169.0,...,34904.0,23821.0,32204.0,31736.0,69595.0,73849.0,74966.0,72997.0,NaN,78257.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1469,E303,"G M UNIVERSITY KARUR VILLAGE, DAVANGERE",LF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,196309.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1470,E303,"G M UNIVERSITY KARUR VILLAGE, DAVANGERE",LG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,182360.0,NaN,NaN,196735.0,NaN,NaN,NaN,NaN,NaN
1471,E303,"G M UNIVERSITY KARUR VILLAGE, DAVANGERE",LH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,200270.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1472,E303,"G M UNIVERSITY KARUR VILLAGE, DAVANGERE",LJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,196205.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1473,E303,"G M UNIVERSITY KARUR VILLAGE, DAVANGERE",LK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,178340.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [260]:
# List of columns to exclude
columns_to_exclude = ['InstituteId', 'InstituteName', 'BranchCode']

# Create a variable with columns excluded
cut_off_data_columns = [col for col in df.columns if col not in columns_to_exclude]

In [261]:
cut_off_data_columns

['1G',
 '1K',
 '1R',
 '2AG',
 '2AK',
 '2AR',
 '2BG',
 '2BK',
 '2BR',
 '3AG',
 '3AK',
 '3AR',
 '3BG',
 '3BK',
 '3BR',
 'GM',
 'GMK',
 'GMR',
 'SCG',
 'SCK',
 'SCR',
 'STG',
 'STK',
 'STR']

In [262]:
df

,InstituteId,InstituteName,BranchCode,1G,1K,1R,2AG,2AK,2AR,2BG,...,3BR,GM,GMK,GMR,SCG,SCK,SCR,STG,STK,STR
0,E001,University of Visvesvaraya College of Engineer...,AI,10087.0,20801.0,NaN,9302.0,NaN,10041.0,12213.0,...,NaN,6935.0,7979.0,8653.0,26148.0,NaN,33645.0,24190.0,NaN,33807.0
1,E001,University of Visvesvaraya College of Engineer...,CE,126281.0,NaN,140951.0,99176.0,NaN,110030.0,95076.0,...,95251.0,74111.0,84671.0,86716.0,105351.0,132307.0,186680.0,109874.0,NaN,129504.0
2,E001,University of Visvesvaraya College of Engineer...,CS,5809.0,NaN,NaN,5835.0,7296.0,6519.0,7166.0,...,5708.0,4344.0,6701.0,5402.0,20990.0,28206.0,29187.0,15475.0,16438.0,20958.0
3,E001,University of Visvesvaraya College of Engineer...,EC,15177.0,NaN,18548.0,14878.0,15407.0,16522.0,21600.0,...,14664.0,9878.0,14864.0,11936.0,33658.0,46591.0,47113.0,37482.0,NaN,52570.0
4,E001,University of Visvesvaraya College of Engineer...,EE,41399.0,NaN,55688.0,37226.0,39400.0,43302.0,59169.0,...,34904.0,23821.0,32204.0,31736.0,69595.0,73849.0,74966.0,72997.0,NaN,78257.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1469,E303,"G M UNIVERSITY KARUR VILLAGE, DAVANGERE",LF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,196309.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1470,E303,"G M UNIVERSITY KARUR VILLAGE, DAVANGERE",LG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,182360.0,NaN,NaN,196735.0,NaN,NaN,NaN,NaN,NaN
1471,E303,"G M UNIVERSITY KARUR VILLAGE, DAVANGERE",LH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,200270.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1472,E303,"G M UNIVERSITY KARUR VILLAGE, DAVANGERE",LJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,196205.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1473,E303,"G M UNIVERSITY KARUR VILLAGE, DAVANGERE",LK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,178340.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [263]:
df.dtypes

InstituteId       object
InstituteName     object
BranchCode        object
1G               float64
1K               float64
1R               float64
2AG              float64
2AK              float64
2AR              float64
2BG              float64
2BK              float64
2BR              float64
3AG              float64
3AK              float64
3AR              float64
3BG              float64
3BK              float64
3BR              float64
GM               float64
GMK              float64
GMR              float64
SCG              float64
SCK              float64
SCR              float64
STG              float64
STK              float64
STR              float64
dtype: object

In [264]:
# Convert float64 columns to integers and replace NaN with empty strings
for column in df.select_dtypes(include='float64').columns:
    df[column] = df[column].fillna(0).astype(int)

In [265]:
df

,InstituteId,InstituteName,BranchCode,1G,1K,1R,2AG,2AK,2AR,2BG,...,3BR,GM,GMK,GMR,SCG,SCK,SCR,STG,STK,STR
0,E001,University of Visvesvaraya College of Engineer...,AI,10087,20801,0,9302,0,10041,12213,...,0,6935,7979,8653,26148,0,33645,24190,0,33807
1,E001,University of Visvesvaraya College of Engineer...,CE,126281,0,140951,99176,0,110030,95076,...,95251,74111,84671,86716,105351,132307,186680,109874,0,129504
2,E001,University of Visvesvaraya College of Engineer...,CS,5809,0,0,5835,7296,6519,7166,...,5708,4344,6701,5402,20990,28206,29187,15475,16438,20958
3,E001,University of Visvesvaraya College of Engineer...,EC,15177,0,18548,14878,15407,16522,21600,...,14664,9878,14864,11936,33658,46591,47113,37482,0,52570
4,E001,University of Visvesvaraya College of Engineer...,EE,41399,0,55688,37226,39400,43302,59169,...,34904,23821,32204,31736,69595,73849,74966,72997,0,78257
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1469,E303,"G M UNIVERSITY KARUR VILLAGE, DAVANGERE",LF,0,0,0,0,0,0,0,...,0,196309,0,0,0,0,0,0,0,0
1470,E303,"G M UNIVERSITY KARUR VILLAGE, DAVANGERE",LG,0,0,0,0,0,0,0,...,0,182360,0,0,196735,0,0,0,0,0
1471,E303,"G M UNIVERSITY KARUR VILLAGE, DAVANGERE",LH,0,0,0,0,0,0,0,...,0,200270,0,0,0,0,0,0,0,0
1472,E303,"G M UNIVERSITY KARUR VILLAGE, DAVANGERE",LJ,0,0,0,0,0,0,0,...,0,196205,0,0,0,0,0,0,0,0
1473,E303,"G M UNIVERSITY KARUR VILLAGE, DAVANGERE",LK,0,0,0,0,0,0,0,...,0,178340,0,0,0,0,0,0,0,0

In [266]:
df.shape

(1474, 27)

In [267]:
# Construct the path to the CSV file in the dataset folder
cleaned_cutoff_file_path = project_root / 'dataset' / 'cleaned_cutoff.csv'

df.to_csv(cleaned_cutoff_file_path)

In [268]:
df

,InstituteId,InstituteName,BranchCode,1G,1K,1R,2AG,2AK,2AR,2BG,...,3BR,GM,GMK,GMR,SCG,SCK,SCR,STG,STK,STR
0,E001,University of Visvesvaraya College of Engineer...,AI,10087,20801,0,9302,0,10041,12213,...,0,6935,7979,8653,26148,0,33645,24190,0,33807
1,E001,University of Visvesvaraya College of Engineer...,CE,126281,0,140951,99176,0,110030,95076,...,95251,74111,84671,86716,105351,132307,186680,109874,0,129504
2,E001,University of Visvesvaraya College of Engineer...,CS,5809,0,0,5835,7296,6519,7166,...,5708,4344,6701,5402,20990,28206,29187,15475,16438,20958
3,E001,University of Visvesvaraya College of Engineer...,EC,15177,0,18548,14878,15407,16522,21600,...,14664,9878,14864,11936,33658,46591,47113,37482,0,52570
4,E001,University of Visvesvaraya College of Engineer...,EE,41399,0,55688,37226,39400,43302,59169,...,34904,23821,32204,31736,69595,73849,74966,72997,0,78257
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1469,E303,"G M UNIVERSITY KARUR VILLAGE, DAVANGERE",LF,0,0,0,0,0,0,0,...,0,196309,0,0,0,0,0,0,0,0
1470,E303,"G M UNIVERSITY KARUR VILLAGE, DAVANGERE",LG,0,0,0,0,0,0,0,...,0,182360,0,0,196735,0,0,0,0,0
1471,E303,"G M UNIVERSITY KARUR VILLAGE, DAVANGERE",LH,0,0,0,0,0,0,0,...,0,200270,0,0,0,0,0,0,0,0
1472,E303,"G M UNIVERSITY KARUR VILLAGE, DAVANGERE",LJ,0,0,0,0,0,0,0,...,0,196205,0,0,0,0,0,0,0,0
1473,E303,"G M UNIVERSITY KARUR VILLAGE, DAVANGERE",LK,0,0,0,0,0,0,0,...,0,178340,0,0,0,0,0,0,0,0

In [269]:
course_data_file_path = project_root / 'dataset' / 'courses.csv'
course_df = pd.read_csv(course_data_file_path)

In [270]:
course_df

    Code                                       Course Name
0     AE                          Aeronautical Engineering
1     MS             Manufacturing Science and Engineering
2     AI      Artificial Intelligence and Machine Learning
3     MT                                      Mechatronics
4     AR                                      Architecture
..   ...                                               ...
131   LH          B TECH IN COMPUTER SCIENCE (INFORMATION)
132   MM                Mechanical and Smart Manufacturing
133   LK   B TECH IN COMPUTER SCIENCE (INTERNET OF THINGS)
134   MN                                Mining Engineering
135   AD            Artificial Intelligence & Data Science

[136 rows x 2 columns]

In [271]:
# Perform a left join between df and courses_df on 'BranchCode' and 'Code'
merged_df = pd.merge(df, course_df, how='left', left_on='BranchCode', right_on='Code')

# Rename the 'course name' column to 'branchname'
merged_df.rename(columns={'course name': 'branchname'}, inplace=True)

# Drop the duplicated 'Code' column
merged_df.drop('Code', axis=1, inplace=True)

In [272]:
df2  = merged_df

In [273]:
df2

,InstituteId,InstituteName,BranchCode,1G,1K,1R,2AG,2AK,2AR,2BG,...,GM,GMK,GMR,SCG,SCK,SCR,STG,STK,STR,Course Name
0,E001,University of Visvesvaraya College of Engineer...,AI,10087,20801,0,9302,0,10041,12213,...,6935,7979,8653,26148,0,33645,24190,0,33807,Artificial Intelligence and Machine Learning
1,E001,University of Visvesvaraya College of Engineer...,CE,126281,0,140951,99176,0,110030,95076,...,74111,84671,86716,105351,132307,186680,109874,0,129504,Civil Engineering
2,E001,University of Visvesvaraya College of Engineer...,CS,5809,0,0,5835,7296,6519,7166,...,4344,6701,5402,20990,28206,29187,15475,16438,20958,Computers Science And Engineering
3,E001,University of Visvesvaraya College of Engineer...,EC,15177,0,18548,14878,15407,16522,21600,...,9878,14864,11936,33658,46591,47113,37482,0,52570,Electronics and Communication Engineering
4,E001,University of Visvesvaraya College of Engineer...,EE,41399,0,55688,37226,39400,43302,59169,...,23821,32204,31736,69595,73849,74966,72997,0,78257,Electrical And Electronics Engineering
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1469,E303,"G M UNIVERSITY KARUR VILLAGE, DAVANGERE",LF,0,0,0,0,0,0,0,...,196309,0,0,0,0,0,0,0,0,B TECH IN COMPUTER SCIENCE (CLOUD
1470,E303,"G M UNIVERSITY KARUR VILLAGE, DAVANGERE",LG,0,0,0,0,0,0,0,...,182360,0,0,196735,0,0,0,0,0,B TECH IN COMPUTER SCIENCE (CYBER SECURITY)
1471,E303,"G M UNIVERSITY KARUR VILLAGE, DAVANGERE",LH,0,0,0,0,0,0,0,...,200270,0,0,0,0,0,0,0,0,B TECH IN COMPUTER SCIENCE (INFORMATION)
1472,E303,"G M UNIVERSITY KARUR VILLAGE, DAVANGERE",LJ,0,0,0,0,0,0,0,...,196205,0,0,0,0,0,0,0,0,BTECH IN COMPUTER SCIENCE & ENGG(BUSINESS
1473,E303,"G M UNIVERSITY KARUR VILLAGE, DAVANGERE",LK,0,0,0,0,0,0,0,...,178340,0,0,0,0,0,0,0,0,B TECH IN COMPUTER SCIENCE (INTERNET OF THINGS)

In [274]:
college_data_file_path = project_root / 'dynamic_data' / 'college_data.csv'
df2[[ 'InstituteId', 'InstituteName']].drop_duplicates(subset='InstituteId', keep='first')
df2.reset_index(drop=True, inplace=True)

In [275]:
df2

,InstituteId,InstituteName,BranchCode,1G,1K,1R,2AG,2AK,2AR,2BG,...,GM,GMK,GMR,SCG,SCK,SCR,STG,STK,STR,Course Name
0,E001,University of Visvesvaraya College of Engineer...,AI,10087,20801,0,9302,0,10041,12213,...,6935,7979,8653,26148,0,33645,24190,0,33807,Artificial Intelligence and Machine Learning
1,E001,University of Visvesvaraya College of Engineer...,CE,126281,0,140951,99176,0,110030,95076,...,74111,84671,86716,105351,132307,186680,109874,0,129504,Civil Engineering
2,E001,University of Visvesvaraya College of Engineer...,CS,5809,0,0,5835,7296,6519,7166,...,4344,6701,5402,20990,28206,29187,15475,16438,20958,Computers Science And Engineering
3,E001,University of Visvesvaraya College of Engineer...,EC,15177,0,18548,14878,15407,16522,21600,...,9878,14864,11936,33658,46591,47113,37482,0,52570,Electronics and Communication Engineering
4,E001,University of Visvesvaraya College of Engineer...,EE,41399,0,55688,37226,39400,43302,59169,...,23821,32204,31736,69595,73849,74966,72997,0,78257,Electrical And Electronics Engineering
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1469,E303,"G M UNIVERSITY KARUR VILLAGE, DAVANGERE",LF,0,0,0,0,0,0,0,...,196309,0,0,0,0,0,0,0,0,B TECH IN COMPUTER SCIENCE (CLOUD
1470,E303,"G M UNIVERSITY KARUR VILLAGE, DAVANGERE",LG,0,0,0,0,0,0,0,...,182360,0,0,196735,0,0,0,0,0,B TECH IN COMPUTER SCIENCE (CYBER SECURITY)
1471,E303,"G M UNIVERSITY KARUR VILLAGE, DAVANGERE",LH,0,0,0,0,0,0,0,...,200270,0,0,0,0,0,0,0,0,B TECH IN COMPUTER SCIENCE (INFORMATION)
1472,E303,"G M UNIVERSITY KARUR VILLAGE, DAVANGERE",LJ,0,0,0,0,0,0,0,...,196205,0,0,0,0,0,0,0,0,BTECH IN COMPUTER SCIENCE & ENGG(BUSINESS
1473,E303,"G M UNIVERSITY KARUR VILLAGE, DAVANGERE",LK,0,0,0,0,0,0,0,...,178340,0,0,0,0,0,0,0,0,B TECH IN COMPUTER SCIENCE (INTERNET OF THINGS)

In [276]:
df3 = df2[[ 'InstituteId', 'InstituteName']].drop_duplicates(subset='InstituteId', keep='first')

In [277]:
df3.reset_index(drop=True, inplace=True)

In [278]:
df3.to_csv(college_data_file_path)

In [279]:
df2

,InstituteId,InstituteName,BranchCode,1G,1K,1R,2AG,2AK,2AR,2BG,...,GM,GMK,GMR,SCG,SCK,SCR,STG,STK,STR,Course Name
0,E001,University of Visvesvaraya College of Engineer...,AI,10087,20801,0,9302,0,10041,12213,...,6935,7979,8653,26148,0,33645,24190,0,33807,Artificial Intelligence and Machine Learning
1,E001,University of Visvesvaraya College of Engineer...,CE,126281,0,140951,99176,0,110030,95076,...,74111,84671,86716,105351,132307,186680,109874,0,129504,Civil Engineering
2,E001,University of Visvesvaraya College of Engineer...,CS,5809,0,0,5835,7296,6519,7166,...,4344,6701,5402,20990,28206,29187,15475,16438,20958,Computers Science And Engineering
3,E001,University of Visvesvaraya College of Engineer...,EC,15177,0,18548,14878,15407,16522,21600,...,9878,14864,11936,33658,46591,47113,37482,0,52570,Electronics and Communication Engineering
4,E001,University of Visvesvaraya College of Engineer...,EE,41399,0,55688,37226,39400,43302,59169,...,23821,32204,31736,69595,73849,74966,72997,0,78257,Electrical And Electronics Engineering
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1469,E303,"G M UNIVERSITY KARUR VILLAGE, DAVANGERE",LF,0,0,0,0,0,0,0,...,196309,0,0,0,0,0,0,0,0,B TECH IN COMPUTER SCIENCE (CLOUD
1470,E303,"G M UNIVERSITY KARUR VILLAGE, DAVANGERE",LG,0,0,0,0,0,0,0,...,182360,0,0,196735,0,0,0,0,0,B TECH IN COMPUTER SCIENCE (CYBER SECURITY)
1471,E303,"G M UNIVERSITY KARUR VILLAGE, DAVANGERE",LH,0,0,0,0,0,0,0,...,200270,0,0,0,0,0,0,0,0,B TECH IN COMPUTER SCIENCE (INFORMATION)
1472,E303,"G M UNIVERSITY KARUR VILLAGE, DAVANGERE",LJ,0,0,0,0,0,0,0,...,196205,0,0,0,0,0,0,0,0,BTECH IN COMPUTER SCIENCE & ENGG(BUSINESS
1473,E303,"G M UNIVERSITY KARUR VILLAGE, DAVANGERE",LK,0,0,0,0,0,0,0,...,178340,0,0,0,0,0,0,0,0,B TECH IN COMPUTER SCIENCE (INTERNET OF THINGS)

In [280]:
grab_location_file_path = project_root / 'dynamic_data' / 'CET_Database_Final2020.csv'
loc_df= pd.read_csv(grab_location_file_path)

In [281]:
loc_df = loc_df[['CETCode', 'College', 'Location']]

In [282]:
loc_df

,CETCode,College,Location
0,NaN,NaN,NaN
1,E001,University Visveswariah College of Engineering,"KR Circle, Bengaluru"
2,E001,University Visveswariah College of Engineering,"KR Circle, Bengaluru"
3,E001,University Visveswariah College of Engineering,"KR Circle, Bengaluru"
4,E001,University Visveswariah College of Engineering,"KR Circle, Bengaluru"
...,...,...,...
1726,NaN,NaN,NaN
1727,NaN,NaN,NaN
1728,NaN,NaN,NaN
1729,NaN,NaN,NaN
1730,NaN,NaN,NaN

In [283]:
# Drop duplicate rows based on the 'CETCode' column, keeping the first occurrence
unique_loc_df = loc_df.drop_duplicates(subset='CETCode', keep='first')

In [284]:
unique_loc_df

,CETCode,College,Location
0,NaN,NaN,NaN
1,E001,University Visveswariah College of Engineering,"KR Circle, Bengaluru"
8,E002,SKSJT Institute of Engineering,"Sampangi Rama Nagar, Bengaluru"
14,E003,BMS College of Engineering (Aided),"Basavanagudi, Bengaluru"
20,E004,Dr. Ambedkar Institute Of Technology (Aided),"Near Gnana Bharathi, Bengaluru"
...,...,...,...
1410,E273,Government Engineering College,"Viprasainagar, Gangavathi, Koppal"
1416,E274,Government Engineering College,"Moselehosahalli,Hassan"
1422,E275,RV Institute of Technology and Management,"JP nagar,Bengaluru"
1427,E278,Visvesvaraya Technological University (VTU),"Muddenahalli,Chickkaballapur"
1429,E279,Visvesvaraya Technological University (VTU),Belgaum

In [285]:
# Reset the index of the resulting DataFrame
unique_loc_df.reset_index(drop=True, inplace=True)

In [286]:
unique_loc_df

,CETCode,College,Location
0,NaN,NaN,NaN
1,E001,University Visveswariah College of Engineering,"KR Circle, Bengaluru"
2,E002,SKSJT Institute of Engineering,"Sampangi Rama Nagar, Bengaluru"
3,E003,BMS College of Engineering (Aided),"Basavanagudi, Bengaluru"
4,E004,Dr. Ambedkar Institute Of Technology (Aided),"Near Gnana Bharathi, Bengaluru"
...,...,...,...
202,E273,Government Engineering College,"Viprasainagar, Gangavathi, Koppal"
203,E274,Government Engineering College,"Moselehosahalli,Hassan"
204,E275,RV Institute of Technology and Management,"JP nagar,Bengaluru"
205,E278,Visvesvaraya Technological University (VTU),"Muddenahalli,Chickkaballapur"
206,E279,Visvesvaraya Technological University (VTU),Belgaum

In [287]:
unique_loc_df = unique_loc_df.dropna()

In [288]:
location_data_file_path = project_root / 'dynamic_data' / 'college_location_data.csv'
unique_loc_df.to_csv(location_data_file_path)

In [295]:
unique_loc_df[ unique_loc_df['CETCode'] == 'E279']

    CETCode                                      College Location
206    E279  Visvesvaraya Technological University (VTU)  Belgaum

In [324]:
college_data = pd.read_csv( project_root / 'dynamic_data' / 'college_data.csv')

In [326]:
college_data['Institution'] = college_data['InstituteName'] +' [' + college_data['InstituteId'] + ']'

In [327]:
college_data = college_data.sort_values(by = 'InstituteName', ascending = True)

In [328]:
college_data.reset_index(drop = True, inplace = True)

In [329]:
college_data.drop(columns=['Unnamed: 0'], inplace=True)

In [330]:
college_data.to_csv( project_root / 'dropdowndata' / 'college_data.csv')